FORMAT: 1A
HOST: https://api.kinopoisk.dev/

# kinopoisk.dev

Документация к API кинопоиска [kinopoisk.dev](https://kinopoisk.dev)

API позволяет получать максимум информации с кинопоиска о фильмах, сериалах и персонах.
Всего в api 5 моделей. Искать можно по любому полю в эти моделях. Ниже приведены примеры использования api. Это лишь примеры, а не все возможности api. Не бойтесь эксперементировать.
При возникновении проблем или ошибок пишите в телеграме @mdwit
___
# GET /movie
Movie хранит в себе фильмы, сериалы, мультфильмы, мультсериалы и аниме. То есть тут все картины с кинопоиска. Подробная [схема модели](#reference/0/resource-2)
содержит информацию о каждом ключе.

Доступные query параметры модели movie:
+ Parameters
    + token: (string) - Токен для авторизации
    + search: (string) - Искомое значение. Может быть как словом, частью слова, буквой, целым числом, так диапозоном значений. Так же важно понимать понимать, что диапазоны будут работать только для полей типа `Number` и `Date`. Диапозон может содаржать 2 значения и разделять их нужно через символ `-`.  Чтобы найти фильмы с рейтингом от 7 до 10 нужно указать `7-10`. Чтобы найти фильмы с датой релиза от 01.02.2020 и до 03.02.2021 нужно указать `01.02.2020-03.02.2021` и можно указать просто года премьеры 2020-2021
    + field: (string) - Ключ по которому необходимо искать. Полей может быть несколько, но на каждый ключ должен быть дополнительный `search`. Парметры `field` образовывают один объект с параметрами `search`
    + page: (string) - Номер страницы пагинации `default - 1`
    + limit: (string) - Количество результатов на страницу `default - 10`
    + sortField: (string) - Ключ по которому необходимо сортировать. Логика работы такая же как как и атрибутом field для поиска
    + sortType: (string) - Поддерживает 2 значения 1 и -1. 1 - сортировка по возрастанию, а -1 в порядке убывания

### Поиск [/movie]
Используя поиск вы можете найти совершенно любой фильм по любому полю [схемы](#reference/0/resource-2).
Поиск очень гибкий и может показаться сложным 😀

**Внимание:** параметр `field` должен содержать ключ по которому необходимо произвести поиск. Ключ должен сохранять вложенность.  
*Например*: если вы хотите искать по `id` фильма, в параметр field передаем только id `field=id`, так как ключе id он находится в корне объекта.  
Но если нужно найти рейтинг кинопоиска, то необходимо указывать что мы ищем в rating значение ключа kp и разделять это все точкой `field=rating.id`. 

Ниже я постараюсь привести примеры запрсово исходя из ответов в опроснике.

+ Parameters
    + search: (string) - Искомое значение
    + token: `ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06` (string) - Токен для авторизации

Обратите внимание, что параметр `token` обязательный. 

#### Поиск по id кинопоиска [GET]

+ Parameters
    + search: 326 (string) - Искомое значение `326`
    + field: id (string) - Поиск по `id`

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по id IMDB [GET]

+ Parameters
    + search: tt0417148 (string) - Искомое значение `tt0417148`
    + field: externalId.imdb (string) - Поиск по `externalId.imdb`

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по id TMDB [GET]

+ Parameters
    + search: tt0417148 (string) - Искомое значение `tt0417148`
    + field: externalId.tmdb (string) - Поиск по `externalId.tmdb`  

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по году [GET]
+ Parameters
    + search: 2020 (string) - Искомое значение `2020`
    + field: year (string) - Поиск по `year` 
    
+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }
        
#### Поиск по названию [GET]
При поиске по полям содержащих текст стоит учитывать, что по умолчанию поиск строгий, но строгий режим можно отключить добавив параметр `isStrict=false`. Тогда поиск будет использовать выражение `/.*текст.*/gi` это сделает текстовый поиск очень гибким, значительно медленным (приходится обходить всю базу) и не совсем точным. Чтобы отображать более релевантные результаты придется добавлять сортировки.
+ Parameters
    + search: ная кни (string) - Искомое значение `ная кни`
    + field: name (string) - Поиск по `name` 
    + isStrict: false (boolean) - Поиск по `false` 
    
+ Response 200 (application/json)
    {
      "docs": [
        {
          "externalId": {
            "imdb": "tt0019696"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/199595.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_199595.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 6.8
          },
          "votes": {
            "kp": 5,
            "imdb": 9
          },
          "id": 199595,
          "type": "movie",
          "name": "Чёрная книга",
          "year": 1929
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/596181.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_596181.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 5,
            "imdb": 0
          },
          "id": 596181,
          "type": "movie",
          "name": "Чудесная книжка",
          "description": "Пропаганда выгодности вкладов в сберегательные кассы. Две семьи рабочих и семья служащего страдали от отсутствия разумной бережливости. Сберкасса помогла им достигнуть материальной обеспеченности.",
          "year": 1925
        },
        {
          "externalId": {
            "tmdb": 9075,
            "imdb": "tt0389557"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/78079.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_78079.jpg"
          },
          "rating": {
            "tmdb": 7.5,
            "kp": 7.7,
            "imdb": 7.7
          },
          "votes": {
            "tmdb": 728,
            "kp": 18312,
            "imdb": 71753
          },
          "movieLength": 145,
          "id": 78079,
          "type": "movie",
          "name": "Черная книга",
          "description": "Вторая мировая война. Рахиль Штайн - немка еврейского происхождения. Спасаясь от фашистского геноцида, она находит пристанище в Нидерландах, где присоединяется к движению Сопротивления. Рахиль непременно должна найти предателя, по вине которого погибла вся ее семья. Отныне месть - смысл ее жизни...",
          "year": 2006
        },
        {
          "externalId": {
            "imdb": "tt1216499"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/409602.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_409602.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 6
          },
          "votes": {
            "kp": 9,
            "imdb": 20
          },
          "id": 409602,
          "type": "movie",
          "name": "Телефонная книга",
          "year": 2008
        },
        {
          "externalId": {
            "tmdb": 234500,
            "imdb": "tt0226753"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/99721.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_99721.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 2,
            "imdb": 0
          },
          "movieLength": 78,
          "id": 99721,
          "type": "movie",
          "name": "Тайная книга: Рукав и рукав",
          "year": 1974
        },
        {
          "externalId": {
            "tmdb": 235379,
            "imdb": "tt0226752"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/209725.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_209725.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 1,
            "imdb": 0
          },
          "movieLength": 71,
          "id": 209725,
          "type": "movie",
          "name": "Тайная книга: Очищенный яйца",
          "year": 1975
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/928994.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_928994.jpg"
          },
          "rating": {
            "kp": 5.9,
            "imdb": 6
          },
          "votes": {
            "kp": 12760,
            "imdb": 2139
          },
          "id": 928994,
          "type": "movie",
          "name": "Таймлесс 3: Изумрудная книга",
          "description": "Что делать, если твое сердце разбито, а чувства растоптаны? Часами болтать по телефону с лучшей подругой? Есть шоколад и валяться в кровати, обливаясь слезами? Как жаль, что у Гвендолин совершенно нет на это времени. А все потому, что на семнадцатом году жизни у нее совершенно случайно обнаружился ген путешественника во времени. Голова идет кругом: хронограф, круг крови, Тайна Двенадцати, все эти балы, суаре, схватки и путешествия по темным лабиринтам прошлого, а теперь еще кто-то за ней охотится, и единственное, о чем ей действительно стоит думать, так это о том, чтобы выжить! Все нити ведут в прошлое, к таинственному графу Сен-Жермену, который ведет опасную игру, чтобы заполучить источник вечной жизни. А тут разбитое сердце!  Гидеон, кто же ты - друг или враг? Что значат твои признания в любви - шутка, разыгранный как по нотам план графа или все же настоящее чувство? Разгадать все тайны Гвендолин помогут ее верные друзья.",
          "year": 2016
        },
        {
          "externalId": {
            "tmdb": 173031,
            "imdb": "tt2645130"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/733489.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_733489.jpg"
          },
          "rating": {
            "tmdb": 5.8,
            "kp": 0,
            "imdb": 6.1
          },
          "votes": {
            "tmdb": 13,
            "kp": 12,
            "imdb": 1352
          },
          "movieLength": 0,
          "id": 733489,
          "type": "movie",
          "name": "Счастливая семейная книга",
          "description": "Полковник в отставке Ылдырим, несмотря на свой жесткий и авторитарный темперамент, очень долгое время оставался авторитетом для своей семьи. Со временем дети повзрослели и «разбежались» в разные стороны. Теперь, когда каждый обзавелся семьей, они редко общаются даже друг с другом. Кроме того, у каждого появляются свои секреты, которые с годами все сложнее удерживать в тайне. Этим они сами себя постепенно загоняют в угол. Однажды, полковник решает собрать их всех, для того, чтобы вместе жить под одной крышей...",
          "year": 2013
        },
        {
          "externalId": {
            "tmdb": 342053,
            "imdb": "tt0350183"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/50845.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_50845.jpg"
          },
          "rating": {
            "tmdb": 5.5,
            "kp": 0,
            "imdb": 6.1
          },
          "votes": {
            "tmdb": 1,
            "kp": 7,
            "imdb": 115
          },
          "movieLength": 94,
          "id": 50845,
          "type": "movie",
          "name": "Секретная книга",
          "description": "Поиски «Тайной книги» богомилов, в которой Енох рассказал о встрече с Богом, приводят Пьера Реймона к неожиданной находке в своей душе. Ведь Книга та, если отыщет ее человек – поселяется в его сердце… Дэн Браун бы сделал из этой истории увлекательный конспирологический квест. Владо Цветановски превратил «Тайную книгу» в историю духовного поиска и мистических прозрений",
          "year": 2006
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/501951.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_501951.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 6,
            "imdb": 0
          },
          "id": 501951,
          "type": "animated-series",
          "name": "Потерянная книга",
          "year": 2009
        }
      ],
      "total": 36,
      "limit": 10,
      "page": 1,
      "pages": 4
    }

#### Поиск фильмов по типу [GET]
+ Parameters
    + search: 1 (string) - Искомое значение `1`
    + field: typeNumber (string) - Поиск по `typeNumber` 
    
+ Response 200 (application/json)

    {
      "docs": [
        {
          "externalId": {
            "imdb": "tt4452272"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/901914.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_901914.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 901914,
          "type": "movie",
          "name": "Military Madness",
          "year": 1917
        },
        {
          "externalId": {
            "imdb": "tt7441760"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1095536.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1095536.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1095536,
          "type": "movie",
          "name": "Remembering Proof of Concept",
          "year": 2016
        },
        {
          "externalId": {
            "imdb": "tt4613354"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/906436.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_906436.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 906436,
          "type": "movie",
          "name": "Panoptik",
          "year": 2015
        },
        {
          "externalId": {
            "imdb": "tt0759669"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/451170.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_451170.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 451170,
          "type": "movie",
          "name": "The Sailor\u0027s Smiling Spirit",
          "year": 1916
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/427680.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_427680.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 427680,
          "type": "movie",
          "name": "Таунхаус",
          "description": "Основанная на романе Тиш Коэн лента расскажет о страдающем агорафобией наследнике рок-звезды, проживающем с сыном в таунхаусе. Каким-то образом ему необходимо поддерживать связь с окружающим миром, и дружба с девочкой по вызову оказывается как нельзя кстати.",
          "year": 0
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1104954.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1104954.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1104954,
          "type": "movie",
          "name": "Rebranding Henry",
          "year": 0
        },
        {
          "externalId": {
            "imdb": "tt0011269"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/157619.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_157619.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 157619,
          "type": "movie",
          "name": "Heart of Twenty",
          "year": 1920
        },
        {
          "externalId": {
            "imdb": "tt0481478"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/253022.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_253022.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 1,
            "imdb": 0
          },
          "id": 253022,
          "type": "movie",
          "name": "Benched: The Corporate Takeover of the Judiciary",
          "year": 2005
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1011841.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1011841.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1011841,
          "type": "movie",
          "name": "Kountdown",
          "year": 0
        },
        {
          "externalId": {
            "tmdb": 455257,
            "imdb": "tt0466671"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/118374.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_118374.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "movieLength": 98,
          "id": 118374,
          "type": "movie",
          "name": "Ama... Bakit mo ako pinabayaan?",
          "year": 1990
        }
      ],
      "total": 596913,
      "limit": 10,
      "page": 1,
      "pages": 59692
    }
   
### Пример сложной поисковой конструкции [/movie?field=rating.kp&search=7-10&field=year&search=2017-2020&field=typeNumber&search=2&sortField=year&sortType=1&sortField=votes.imdb&sortType=-1&token=ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06]

#### Поиск сериалов с диапозонами и сортировкой [GET]
Представим что нам нужно найти сериалы `typeNumber - 2` с рейтингом kp от `7` до `10` которые были выпущены с `2017` по `2020` год.  
При этом мы ходим чтобы они были осортированы по году в порядке возрастания, но при этом были отсортированы по голосам на `imdb` в порядке убывания.
Для этого нам придется подготовить параметры
    
| URI Parameters  | |
| :------------- |:-------------|
| field      | Поиск по `rating.kp`|
| search      | Искомое значение `7-10`|
| field      | Поиск по `year`|
| search      | Искомое значение `2017-2020`|
| field      | Поиск по `typeNumber`|
| search      | Искомое значение `2`|
| sortField     | Поиск по `year`|
| sortType      | Искомое значение `1`|
| sortField      | Поиск по `votes.imdb`|
| sortType      | Искомое значение `-1`|

+ Parameters
    + token: `ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06` (string) - Токен для авторизации

+ Response 200 (application/json)
        {
          "docs": [
            {
              "externalId": {},
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1046206.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1046206.jpg"
              },
              "rating": {
                "kp": 8.1,
                "imdb": 8.3
              },
              "votes": {
                "kp": 61839,
                "imdb": 293429
              },
              "id": 1046206,
              "type": "tv-series",
              "name": "Бумажный дом",
              "description": "История о преступниках, решивших ограбить Королевский монетный двор Испании и украсть 2,4 млрд евро.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 70523,
                "imdb": "tt5753856"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1032606.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1032606.jpg"
              },
              "rating": {
                "tmdb": 8.5,
                "kp": 8.1,
                "imdb": 8.8
              },
              "votes": {
                "tmdb": 3922,
                "kp": 68683,
                "imdb": 277621
              },
              "alternativeName": "Dark",
              "id": 1032606,
              "type": "tv-series",
              "name": "Тьма",
              "description": "История четырёх семей, живущих спокойной и размеренной жизнью в маленьком немецком городке. Видимая идиллия рушится, когда бесследно исчезают двое детей и воскресают тёмные тайны прошлого.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 66788,
                "imdb": "tt1837492"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/582358.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_582358.jpg"
              },
              "rating": {
                "tmdb": 7.8,
                "kp": 7.4,
                "imdb": 7.6
              },
              "votes": {
                "tmdb": 2575,
                "kp": 67855,
                "imdb": 254352
              },
              "alternativeName": "13 Reasons Why",
              "id": 582358,
              "type": "tv-series",
              "name": "13 причин почему",
              "description": "Однажды Клэй Дженсен находит на пороге своего дома коробку с аудиокассетами, записанными Ханной Бейкер. Он был влюблен в эту девушку в школе, пока она однажды не покончила жизнь самоубийством. В своих записях Ханна указала 13 причин, которые толкнули её на это. И Клэй - одна из них.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 67744,
                "imdb": "tt5290382"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/958500.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_958500.jpg"
              },
              "rating": {
                "tmdb": 7.9,
                "kp": 8.1,
                "imdb": 8.6
              },
              "votes": {
                "tmdb": 1081,
                "kp": 46781,
                "imdb": 214384
              },
              "alternativeName": "Mindhunter",
              "id": 958500,
              "type": "tv-series",
              "name": "Охотник за разумом",
              "description": "1979 год. Два агента ФБР опрашивают находящихся в заключении серийных убийц с целью понимания их образа мыслей, а также раскрытия текущих преступлений.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 69740,
                "imdb": "tt5071412"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1045553.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1045553.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 913,
                "kp": 24593,
                "imdb": 184765
              },
              "alternativeName": "Ozark",
              "id": 1045553,
              "type": "tv-series",
              "name": "Озарк",
              "description": "Финансовый консультант Марти Бёрд вместе с женой Вэнди и остальными членами семьи вынужден тайно переехать из престижного предместья Чикаго в курортный городок Озарк штата Миссури. К неожиданному переезду главного героя вынудили крупные долги, и на новом месте он надеется поправить своё финансовое положение.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 67178,
                "imdb": "tt5675620"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/978853.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_978853.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.5
              },
              "votes": {
                "tmdb": 1140,
                "kp": 26690,
                "imdb": 180787
              },
              "alternativeName": "Marvel\u0027s The Punisher",
              "id": 978853,
              "type": "tv-series",
              "name": "Каратель",
              "description": "После того, как семья Фрэнка Касла была убита во время перестрелки нескольких банд Нью-Йорка, он решает отомстить и начинает охоту на преступников города. В преступном мире он становится известен как Каратель.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 69478,
                "imdb": "tt5834204"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1007426.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1007426.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 1091,
                "kp": 59266,
                "imdb": 169340
              },
              "alternativeName": "The Handmaid\u0027s Tale",
              "id": 1007426,
              "type": "tv-series",
              "name": "Рассказ служанки",
              "description": "Действие разворачивается в будущем, в республике Гилеад, где у власти стоят военные. В стране жестокие порядки и нравы, уважением в обществе пользуются только офицеры и их жёны. Помимо тоталитарного устройства общества, в мире будущего есть серьёзная проблема — бесплодие. Лишь каждая сотая женщина способна к воспроизведению потомства. Чтобы продолжить офицерский род, семьи берут в дом служанку - суррогатную мать из числа простых женщин, способных к деторождению. Исполнив  долг, служанка должна расстаться со своим ребёнком и перейти на службу к новым хозяевам.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 66292,
                "imdb": "tt3920596"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/947758.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_947758.jpg"
              },
              "rating": {
                "tmdb": 7.8,
                "kp": 8.1,
                "imdb": 8.5
              },
              "votes": {
                "tmdb": 785,
                "kp": 77183,
                "imdb": 151968
              },
              "alternativeName": "Big Little Lies",
              "id": 947758,
              "type": "tv-series",
              "name": "Большая маленькая ложь",
              "description": "На благотворительном балу в школе происходит убийство, однако имя жертвы неизвестно. История о нескольких месяцах, предшествовавших происшествию - рассказ о пяти семьях, чьи дети ходят в один класс. Все эти семьи загадочным образом связаны с убийством.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 74577,
                "imdb": "tt6257970"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1071384.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1071384.jpg"
              },
              "rating": {
                "tmdb": 8.3,
                "kp": 7.7,
                "imdb": 8.1
              },
              "votes": {
                "tmdb": 1485,
                "kp": 58623,
                "imdb": 144396
              },
              "alternativeName": "The End of the F***ing World",
              "id": 1071384,
              "type": "tv-series",
              "name": "Конец ***го мира",
              "description": "Джеймсу семнадцать и он уверен, что он - психопат. Алисе тоже семнадцать, она - капризная новенькая девчонка в школе. Они с пол-оборота заводят подростковый роман, и Алиса уговаривает Джеймса начать поиски её отца. Джеймсу от Алисы тоже кое-что нужно.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 65708,
                "imdb": "tt3647998"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/932068.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_932068.jpg"
              },
              "rating": {
                "tmdb": 7.9,
                "kp": 7.7,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 645,
                "kp": 60378,
                "imdb": 115033
              },
              "alternativeName": "Taboo",
              "id": 932068,
              "type": "tv-series",
              "name": "Табу",
              "description": "Искатель приключений Джеймс Кезайя Делейни строит свою собственную корабельную империю в начале XIX века.",
              "year": 2017
            }
          ],
          "total": 689,
          "limit": 10,
          "page": 1,
          "pages": 69
        }

# GET /person

Логика работы поиска по персонам ровно такая же как и по фильмам. 
Доступные query параметры модели person:
+ Parameters
    + token: (string) - Токен для авторизации.
    + search: (string) - Искомое значение.
    + field: (string) - Ключ по которому необходимо искать.
    + page: (string) - Номер страницы пагинации `default - 1`
    + limit: (string) - Количество результатов на страницу `default - 10`
    + sortField: (string) - Ключ по которому необходимо сортировать.
    + sortType: (string) -  Тип сортировки.

### Поиск [/person]

+ Parameters
    + search: (string) - Искомое значение
    + token: `ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06` (string) - Токен для авторизации

#### Поиск персоны по id кинопоиска [GET]

+ Parameters
    + search: 37859 (string) - Искомое значение `37859`
    + field: id (string) - Поиск по `id`

+ Response 200 (application/json)

        {
            "spouses": null,
            "id": 37859,
            "name": "Леонардо ДиКаприо",
            "enName": "Leonardo DiCaprio",
            "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_37859.jpg",
            "profession": [
                {
                    "value": "Актер"
                },
                {
                    "value": "Продюсер"
                },
                {
                    "value": "Сценарист"
                }
            ],
            "birthPlace": [
                {
                    "value": "Голливуд"
                },
                {
                    "value": "Лос-Анджелес"
                },
                {
                    "value": "Калифорния"
                },
                {
                    "value": "США"
                }
            ],
            "deathPlace": null,
            "facts": [
                {
                    "value": "Полное имя - Леонардо Вильгельм ДиКаприо (Leonardo Wilhelm DiCaprio)."
                },
                {
                    "value": "Леонардо ДиКаприо родился в семье хиппи и вырос в одном из самых опасных пригородов Лос-Анджелеса."
                },
                {
                    "value": "Когда Лео было всего 2,5 года, отец отвел его на популярное детское телешоу - это стало первым появлением будущего актера перед камерой."
                },
                {
                    "value": "Родители ДиКаприо — Джордж (автор комиксов) и Ирмелин (работавшая социальным служащим) развелись, когда ему ещё не исполнился один год, однако в дальнейшем старались воспитывать его по возможности вместе, чтобы не лишать ни отцовской, ни материнской заботы."
                },
                {
                    "value": "Мать Лео выбрала ему столь необычное имя, когда ещё не родившийся сын толкнулся в ней, когда она рассматривала картину Леонардо да Винчи."
                },
                {
                    "value": "В 1997 году был включен в список 50 самых красивых людей мира по версии журнала People."
                },
                {
                    "value": "Учился в John Marshall High School в Лос-Анджелесе (Калифорния)."
                },
                {
                    "value": "Когда актеру было 10 лет, его агент предложил ему сменить имя на более дружелюбное и более американское - Ленни Уильямс."
                },
                {
                    "value": "Отец ДиКаприо происходит из семьи с итало-немецкими корнями. Мать ДиКаприо, Ирмелин ДиКаприо, в девичестве Инденбиркен, родилась в западногерманском Ор-Эркеншвике. Её отцом был Вильхельм Инденбиркен, а матерью — русская Елена Смирнова, которая после переезда в Германию из России вышла замуж и приняла фамилию мужа - Инденбиркен. Сам же ДиКаприо в разговоре с Владимиром Путиным сообщил, что его дед также был русским, и добавил: «Так что я не на четверть, а наполовину русский»."
                },
                {
                    "value": "16 сентября 2014 года ДиКаприо был избран посланником мира ООН по проблемам климата."
                },
                {
                    "value": "В ноябре 2013 года ДиКаприо внес три миллиона долларов во Всемирный фонд дикой природы для сохранения и приумножения популяции тигров в Непале."
                },
                {
                    "value": "В 2013 году актер стал совладельцем гоночной команды Venturi Grand Prix Formula E Team для участия в Формуле-Е."
                }
            ],
            "movies": [
                {
                    "id": 1033970,
                    "name": "Чёрная рука",
                    "alternativeName": "The Black Hand",
                    "rating": 0,
                    "general": false,
                    "description": "Joe Petrosino"
                },
                {
                    "id": 775385,
                    "name": "Тёмные дела на Норт-Гэнсон-стрит",
                    "alternativeName": "Mean Business on North Ganson Street",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1057245,
                    "name": "Рузвельт",
                    "alternativeName": "Roosevelt",
                    "rating": 0,
                    "general": false,
                    "description": "Theodore Roosevelt"
                },
                {
                    "id": 688656,
                    "name": "Наследие секретности",
                    "alternativeName": "Legacy of Secrecy",
                    "rating": 0,
                    "general": false,
                    "description": "Alec Dunway"
                },
                {
                    "id": 572033,
                    "name": "Дьявол в белом городе (сериал)",
                    "alternativeName": "The Devil in the White City",
                    "rating": 0,
                    "general": false,
                    "description": "Dr. Henry Howard Holmes"
                },
                {
                    "id": 1077781,
                    "name": "Убийцы цветочной луны",
                    "alternativeName": "Killers of the Flower Moon",
                    "rating": 0,
                    "general": false,
                    "description": "Ernest Burkhart"
                },
                {
                    "id": 1338480,
                    "name": "Не смотри вверх",
                    "alternativeName": "Don't Look Up",
                    "rating": 0,
                    "general": false,
                    "description": "Dr. Randall Mindy"
                },
                {
                    "id": 1047883,
                    "name": "Однажды в… Голливуде",
                    "alternativeName": "Once Upon a Time... in Hollywood",
                    "rating": 7.6,
                    "general": false,
                    "description": "Rick Dalton"
                },
                {
                    "id": 1256785,
                    "name": "Lil Dicky: Earth (видео)",
                    "alternativeName": "Lil Dicky: Earth",
                    "rating": 6.5,
                    "general": false,
                    "description": "Leonardo DiCaprio, озвучка"
                },
                {
                    "id": 1298706,
                    "name": null,
                    "alternativeName": "BYD: Build Your Dreams (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "BYD Model"
                },
                {
                    "id": 1299818,
                    "name": null,
                    "alternativeName": "BYD: Make History (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "BYD Model"
                },
                {
                    "id": 880702,
                    "name": "Пробы",
                    "alternativeName": "The Audition",
                    "rating": 6.7,
                    "general": false,
                    "description": "Leonardo DiCaprio"
                },
                {
                    "id": 522941,
                    "name": "Выживший",
                    "alternativeName": "The Revenant",
                    "rating": 7.8,
                    "general": false,
                    "description": "Hugh Glass"
                },
                {
                    "id": 1298432,
                    "name": null,
                    "alternativeName": "Jim Beam: Black (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Jim Beam Model"
                },
                {
                    "id": 1300949,
                    "name": null,
                    "alternativeName": "Telecom: La tecnologia e importante ma anche tutto il resto (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Telecom Model"
                },
                {
                    "id": 462682,
                    "name": "Волк с Уолл-стрит",
                    "alternativeName": "The Wolf of Wall Street",
                    "rating": 7.9,
                    "general": false,
                    "description": "Jordan Belfort"
                },
                {
                    "id": 463724,
                    "name": "Великий Гэтсби",
                    "alternativeName": "The Great Gatsby",
                    "rating": 7.9,
                    "general": false,
                    "description": "Jay Gatsby"
                },
                {
                    "id": 1298358,
                    "name": null,
                    "alternativeName": "Jim Beam: Bourbon (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Jim Beam Model"
                },
                {
                    "id": 586397,
                    "name": "Джанго освобожденный",
                    "alternativeName": "Django Unchained",
                    "rating": 8.2,
                    "general": false,
                    "description": "Calvin Candie"
                },
                {
                    "id": 505796,
                    "name": "Дж. Эдгар",
                    "alternativeName": "J. Edgar",
                    "rating": 6.7,
                    "general": false,
                    "description": "J. Edgar Hoover"
                },
                {
                    "id": 1299147,
                    "name": null,
                    "alternativeName": "Wild Aid: Leonardo DiCaprio and Jackie Chan (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Leonardo DiCaprio"
                },
                {
                    "id": 1299538,
                    "name": null,
                    "alternativeName": "Oppo: Find Me (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Oppo Model"
                },
                {
                    "id": 955928,
                    "name": "Начало: Работа на Кобол (видео)",
                    "alternativeName": "Inception: The Cobol Job",
                    "rating": 6.7,
                    "general": false,
                    "description": "Cobb"
                },
                {
                    "id": 447301,
                    "name": "Начало",
                    "alternativeName": "Inception",
                    "rating": 8.7,
                    "general": true,
                    "description": "Cobb"
                },
                {
                    "id": 1363835,
                    "name": null,
                    "alternativeName": "Shutter Island: Behind the Shutters (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 472257,
                    "name": "Телескоп Хаббл в 3D",
                    "alternativeName": "Hubble 3D",
                    "rating": 7.6,
                    "general": false,
                    "description": null
                },
                {
                    "id": 397667,
                    "name": "Остров проклятых",
                    "alternativeName": "Shutter Island",
                    "rating": 8.5,
                    "general": true,
                    "description": "Teddy Daniels"
                },
                {
                    "id": 1363678,
                    "name": null,
                    "alternativeName": "Body of Lies: Interactive Debriefing (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 280932,
                    "name": "Дорога перемен",
                    "alternativeName": "Revolutionary Road",
                    "rating": 7.5,
                    "general": false,
                    "description": "Frank Wheeler"
                },
                {
                    "id": 281449,
                    "name": "Совокупность лжи",
                    "alternativeName": "Body of Lies",
                    "rating": 7.2,
                    "general": false,
                    "description": "Roger Ferris"
                },
                {
                    "id": 1363680,
                    "name": null,
                    "alternativeName": "Blood Diamond: Focus Points (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 1363268,
                    "name": null,
                    "alternativeName": "Blood Diamond: Journalism on the Front Line (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 1361281,
                    "name": null,
                    "alternativeName": "The Departed: Interviews (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 102376,
                    "name": "Кровавый алмаз",
                    "alternativeName": "Blood Diamond",
                    "rating": 7.8,
                    "general": false,
                    "description": "Danny Archer"
                },
                {
                    "id": 81314,
                    "name": "Отступники",
                    "alternativeName": "The Departed",
                    "rating": 8.5,
                    "general": true,
                    "description": "Billy"
                },
                {
                    "id": 6374,
                    "name": "Авиатор",
                    "alternativeName": "The Aviator",
                    "rating": 7.6,
                    "general": false,
                    "description": "Howard Hughes"
                },
                {
                    "id": 1363677,
                    "name": null,
                    "alternativeName": "Gangs of New York: History of the Five Points (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 1363694,
                    "name": null,
                    "alternativeName": "Gangs of New York: Set Design (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Self"
                },
                {
                    "id": 324,
                    "name": "Поймай меня, если сможешь",
                    "alternativeName": "Catch Me If You Can",
                    "rating": 8.5,
                    "general": true,
                    "description": "Frank Abagnale Jr."
                },
                {
                    "id": 678,
                    "name": "Банды Нью-Йорка",
                    "alternativeName": "Gangs of New York",
                    "rating": 7.7,
                    "general": false,
                    "description": "Amsterdam Vallon"
                },
                {
                    "id": 6870,
                    "name": "Кафе «Донс Плам»",
                    "alternativeName": "Don's Plum",
                    "rating": 6.6,
                    "general": false,
                    "description": "Derek"
                },
                {
                    "id": 6871,
                    "name": "Пляж",
                    "alternativeName": "The Beach",
                    "rating": 7.4,
                    "general": false,
                    "description": "Richard"
                },
                {
                    "id": 3550,
                    "name": "Знаменитость",
                    "alternativeName": "Celebrity",
                    "rating": 6.8,
                    "general": false,
                    "description": "Brandon Darrow"
                },
                {
                    "id": 6872,
                    "name": "Человек в железной маске",
                    "alternativeName": "The Man in the Iron Mask",
                    "rating": 7.3,
                    "general": false,
                    "description": "King Louis / Phillippe"
                },
                {
                    "id": 2213,
                    "name": "Титаник",
                    "alternativeName": "Titanic",
                    "rating": 8.4,
                    "general": false,
                    "description": "Jack Dawson"
                },
                {
                    "id": 1884,
                    "name": "Комната Марвина",
                    "alternativeName": "Marvin's Room",
                    "rating": 7.2,
                    "general": false,
                    "description": "Hank"
                },
                {
                    "id": 2771,
                    "name": "Ромео + Джульетта",
                    "alternativeName": "Romeo + Juliet",
                    "rating": 7.3,
                    "general": false,
                    "description": "Romeo"
                },
                {
                    "id": 6873,
                    "name": "Полное затмение",
                    "alternativeName": "Total Eclipse",
                    "rating": 7.3,
                    "general": false,
                    "description": "Arthur Rimbaud"
                },
                {
                    "id": 6175,
                    "name": "Дневник баскетболиста",
                    "alternativeName": "The Basketball Diaries",
                    "rating": 7.8,
                    "general": false,
                    "description": "Jim Carroll"
                },
                {
                    "id": 2273,
                    "name": "Быстрый и мертвый",
                    "alternativeName": "The Quick and the Dead",
                    "rating": 7.3,
                    "general": false,
                    "description": "Kid"
                },
                {
                    "id": 1299126,
                    "name": null,
                    "alternativeName": "Honda: Miracle Civic (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Honda Model"
                },
                {
                    "id": 6874,
                    "name": "Вечеринка с выстрелами по ногам",
                    "alternativeName": "The Foot Shooting Party",
                    "rating": 5.9,
                    "general": false,
                    "description": "Bud"
                },
                {
                    "id": 4466,
                    "name": "Что гложет Гилберта Грейпа?",
                    "alternativeName": "What's Eating Gilbert Grape",
                    "rating": 7.9,
                    "general": false,
                    "description": "Arnie Grape"
                },
                {
                    "id": 6875,
                    "name": "Жизнь этого парня",
                    "alternativeName": "This Boy's Life",
                    "rating": 7.7,
                    "general": false,
                    "description": "Toby"
                },
                {
                    "id": 1819,
                    "name": "Ядовитый плющ",
                    "alternativeName": "Poison Ivy",
                    "rating": 6.7,
                    "general": false,
                    "description": "Guy (в титрах: Leonardo Di Caprio)"
                },
                {
                    "id": 6876,
                    "name": "Зубастики 3",
                    "alternativeName": "Critters 3",
                    "rating": 5.6,
                    "general": false,
                    "description": "Josh"
                },
                {
                    "id": 1300644,
                    "name": null,
                    "alternativeName": "Kraft: Kraft Free Singles (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Kraft Model"
                },
                {
                    "id": 1319243,
                    "name": null,
                    "alternativeName": "Street Safe, Street Smart (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Alex"
                },
                {
                    "id": 229287,
                    "name": "Родители (сериал)",
                    "alternativeName": "Parenthood",
                    "rating": 5,
                    "general": false,
                    "description": "Garry Buckman"
                },
                {
                    "id": 229224,
                    "name": "Изгои (сериал)",
                    "alternativeName": "The Outsiders",
                    "rating": 5.7,
                    "general": false,
                    "description": "Kid Fighting Scout"
                },
                {
                    "id": 445879,
                    "name": "Новые приключения Лэсси (сериал)",
                    "alternativeName": "The New Lassie",
                    "rating": 6.2,
                    "general": false,
                    "description": "Glen"
                },
                {
                    "id": 584195,
                    "name": "Магическое зеркало (сериал)",
                    "alternativeName": "Troldspejlet",
                    "rating": 6.3,
                    "general": false,
                    "description": "Arnie Grape"
                },
                {
                    "id": 1299715,
                    "name": null,
                    "alternativeName": "Fred Meyer: You'll Find it at Freddy's (видео)",
                    "rating": 0,
                    "general": false,
                    "description": "Freddy's Model"
                },
                {
                    "id": 258058,
                    "name": "Проблемы роста (сериал)",
                    "alternativeName": "Growing Pains",
                    "rating": 5.7,
                    "general": false,
                    "description": "Luke Brower"
                },
                {
                    "id": 79907,
                    "name": "Санта-Барбара (сериал)",
                    "alternativeName": "Santa Barbara",
                    "rating": 4.3,
                    "general": false,
                    "description": "Young Mason Capwell"
                },
                {
                    "id": 1033970,
                    "name": "Чёрная рука",
                    "alternativeName": "The Black Hand",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 775385,
                    "name": "Тёмные дела на Норт-Гэнсон-стрит",
                    "alternativeName": "Mean Business on North Ganson Street",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 104911,
                    "name": "Рукопись Ченселлора",
                    "alternativeName": "The Chancellor Manuscript",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1057245,
                    "name": "Рузвельт",
                    "alternativeName": "Roosevelt",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 221318,
                    "name": "Расставание в голубом",
                    "alternativeName": "The Deep Blue Good-By",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 688656,
                    "name": "Наследие секретности",
                    "alternativeName": "Legacy of Secrecy",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 455135,
                    "name": "Манускрипт ниндзя",
                    "alternativeName": "Ninja Scroll",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 279913,
                    "name": "Заговор глупцов",
                    "alternativeName": "Conspiracy of Fools",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 572033,
                    "name": "Дьявол в белом городе (сериал)",
                    "alternativeName": "The Devil in the White City",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 418795,
                    "name": "Атари",
                    "alternativeName": "Atari",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 973060,
                    "name": null,
                    "alternativeName": "The Corporation",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1046636,
                    "name": null,
                    "alternativeName": "Finding 52",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 406023,
                    "name": "Акира",
                    "alternativeName": "Akira",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1381246,
                    "name": null,
                    "alternativeName": "Theodore Roosevelt (мини-сериал)",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 1239434,
                    "name": "Парни что надо (сериал)",
                    "alternativeName": "The Right Stuff",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 1421584,
                    "name": null,
                    "alternativeName": "Whose Vote Counts, Explained (мини-сериал)",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер (3 эпизода, 2020)"
                },
                {
                    "id": 1188798,
                    "name": "Грант (мини-сериал)",
                    "alternativeName": "Grant",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 1281157,
                    "name": "Курс на экологичность",
                    "alternativeName": "And We Go Green",
                    "rating": 0,
                    "general": false,
                    "description": "продюсер (produced by)"
                },
                {
                    "id": 826373,
                    "name": "Дело Ричарда Джуэлла",
                    "alternativeName": "Richard Jewell",
                    "rating": 7.6,
                    "general": false,
                    "description": "продюсер (produced by)"
                },
                {
                    "id": 1269611,
                    "name": "Лёд в огне",
                    "alternativeName": "Ice on Fire",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1235103,
                    "name": "Море теней",
                    "alternativeName": "Sea of Shadows",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 1217704,
                    "name": "Борьба: жизнь и утраченное искусство Шукальского",
                    "alternativeName": "Struggle: The Life and Lost Art of Szukalski",
                    "rating": 0,
                    "general": false,
                    "description": null
                },
                {
                    "id": 927495,
                    "name": "Робин Гуд: Начало",
                    "alternativeName": "Robin Hood",
                    "rating": 5.6,
                    "general": false,
                    "description": "продюсер (produced by) (p.g.a.)"
                },
                {
                    "id": 1207526,
                    "name": null,
                    "alternativeName": "Jonestown: Terror in the Jungle (мини-сериал)",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 630222,
                    "name": "Истерия",
                    "alternativeName": "Delirium",
                    "rating": 5.7,
                    "general": false,
                    "description": null
                },
                {
                    "id": 1049410,
                    "name": null,
                    "alternativeName": "Fire Chasers (мини-сериал)",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 971228,
                    "name": "Пластиковый океан",
                    "alternativeName": "A Plastic Ocean",
                    "rating": 8.2,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 677768,
                    "name": "Закон ночи",
                    "alternativeName": "Live by Night",
                    "rating": 6.5,
                    "general": false,
                    "description": "продюсер (produced by)"
                },
                {
                    "id": 997939,
                    "name": "Игра цвета слоновой кости",
                    "alternativeName": "The Ivory Game",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 1002696,
                    "name": "Спасти планету",
                    "alternativeName": "Before the Flood",
                    "rating": 7.8,
                    "general": false,
                    "description": null
                },
                {
                    "id": 610843,
                    "name": null,
                    "alternativeName": "Catching the Sun",
                    "rating": 0,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 885610,
                    "name": "Скотозаговор",
                    "alternativeName": "Cowspiracy: The Sustainability Secret",
                    "rating": 8.5,
                    "general": true,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 842876,
                    "name": "Вирунга",
                    "alternativeName": "Virunga",
                    "rating": 7.4,
                    "general": false,
                    "description": "исполнительный продюсер"
                },
                {
                    "id": 462682,
                    "name": "Волк с Уолл-стрит",
                    "alternativeName": "The Wolf of Wall Street",
                    "rating": 7.9,
                    "general": false,
                    "description": null
                },
                {
                    "id": 462240,
                    "name": "Из пекла",
                    "alternativeName": "Out of the Furnace",
                    "rating": 6.5,
                    "general": false,
                    "description": null
                },
                {
                    "id": 677880,
                    "name": "Va-банк",
                    "alternativeName": "Runner Runner",
                    "rating": 6.1,
                    "general": false,
                    "description": null
                },
                {
                    "id": 462482,
                    "name": "Мартовские иды",
                    "alternativeName": "The Ides of March",
[...]
