FORMAT: 1A
HOST: https://api.kinopoisk.dev/

# kinopoisk.dev

Документация к API кинопоиска [kinopoisk.dev](https://kinopoisk.dev)

API позволяет получать максимум информации с кинопоиска о фильмах, сериалах и персонах.
Всего в api 5 моделей.
___
# GET /movie
Movie хранит в себе фильмы, сериалы, мультфильмы, мультсериалы и аниме. То есть тут все картины с кинопоиска. Подробная [схема модели](#reference/0/resource-2)
содержит информацию информацию о каждом ключе.

Доступные query параметры модели movie:
+ Parameters
    + token: (string) - Токен для авторизации
    + search: (string) - Искомое значение. Может быть как целым числом, так диапозоном значений. Но важно понимать, что диапозоны будут работать только для полей типа `Number` и `Date`. Диапозон может содаржать 2 значения и разделять их нужно через символ `-`.  Чтобы найти фильмы с рейтингом от 7 до 10 нужно указать `7-10`. Чтобы найти фильмы с датой релиза от 01.02.2020 и до 03.02.2021 нужно указать `01.02.2020-03.02.2021` и можно указать просто года премьеры 2020-2021
    + field: (string) - Ключ по которому необходимо искать. Полей может быть несколько, но на каждый ключ должен быть дополнительный `search`. Парметры `field` образовывают один объект с параметрами `search`
    + page: (string) - Номер страницы пагинации `default - 1`
    + limit: (string) - Количество результатов на страницу `default - 10`
    + sortField: (string) - Ключ по которому необходимо сортировать. Логика работы такая же как как и атрибутом field для поиска
    + sortType: (string) - Поддерживает 2 значения 1 и -1. 1 - сортировка по возрастанию, а -1 в порядке убывания

### Поиск [/]
Используя поиск вы можете найти совершенно любой фильм по любому полю [схемы](#reference/0/resource-2).
Поиск очень гибкий и может показаться сложным 😀

**Внимание:** параметр `field` должен содержать ключ по которому необходимо произвести поиск. Ключ должен сохранять вложенность.  
*Например*: если вы хотите искать по `id` фильма, в параметр field передаем только id `field=id`, так как ключе id он находится в корне объекта.  
Но если нужно найти рейтинг кинопоиска, то необходимо указывать что мы ищем в rating значение ключа kp и разделять это все точкой `field=rating.id`. 

Ниже я постараюсь привести примеры запрсово исходя из ответов в опроснике.

+ Parameters
    + search: (string) - Искомое значение
    + token: `ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06` (string) - Токен для авторизации

Обратите внимание, что параметр `token` обязательный. 

#### Поиск по id кинопоиска [GET]

+ Parameters
    + search: 326 (string) - Искомое значение `326`
    + field: id (string) - Поиск по `id`

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по id IMDB [GET]

+ Parameters
    + search: tt0417148 (string) - Искомое значение `tt0417148`
    + field: externalId.imdb (string) - Поиск по `externalId.imdb`

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по id TMDB [GET]

+ Parameters
    + search: tt0417148 (string) - Искомое значение `tt0417148`
    + field: externalId.tmdb (string) - Поиск по `externalId.tmdb`  

+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }

#### Поиск по году [GET]
+ Parameters
    + search: 2020 (string) - Искомое значение `2020`
    + field: year (string) - Поиск по `year` 
    
+ Response 200 (application/json)

        {
          "id": 326,
          "externalId": {
            "tmdb": 278,
            "imdb": "tt0111161"
          },
          "type": "movie",
          "name": "Побег из Шоушенка",
          "description": "Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника. Оказавшись в тюрьме под названием Шоушенк, он сталкивается с жестокостью и беззаконием, царящими по обе стороны решётки. Каждый, кто попадает в эти стены, становится их рабом до конца жизни. Но Энди, обладающий живым умом и доброй душой, находит подход как к заключённым, так и к охранникам, добиваясь их особого к себе расположения.",
          "slogan": "Страх - это кандалы. Надежда - это свобода",
          "year": 1994,
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/326.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg"
          },
          "backdrop": {
            "url": "https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg",
            "previewUrl": "https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg"
          },
          "rating": {
            "tmdb": 8.7,
            "kp": 9.1,
            "imdb": 9.3
          },
          "votes": {
            "tmdb": 18120,
            "kp": 746454,
            "imdb": 2339097
          },
          "videos": {
            "trailers": [
              {
                "_id": "601190b2c3bc36048af02bd3",
                "url": "https://www.youtube.com/watch?v=GOniB0Ykp1M",
                "name": "Побег из Шоушенка трейлер на русском",
                "site": "YouTube",
                "size": 360,
                "type": "TRAILER"
              }
            ],
            "teasers": []
          },
          "budget": {
            "value": 25000000,
            "currency": "$"
          },
          "fees": {
            "world": {
              "value": 28418687,
              "currency": "$"
            },
            "russia": {
              "value": 87432,
              "currency": "$"
            },
            "usa": {
              "value": 28341469,
              "currency": "$"
            }
          },
          "distributors": {
            "distributor": "Иноекино",
            "distributorRelease": "Videogram, Союз-Видео"
          },
          "premiere": {
            "country": "Канада",
            "world": "1994-09-10T00:00:00.000Z",
            "russia": "2019-10-24T00:00:00.000Z",
            "bluray": "1999-09-01T00:00:00.000Z",
            "dvd": "2009-08-27T00:00:00.000Z"
          },
          "images": {
            "postersCount": 57,
            "backdropsCount": 23,
            "framesCount": 59
          },
          "status": "Выпущен",
          "movieLength": 142,
          "productionCompanies": [
            {
              "name": "Castle Rock Entertainment",
              "url": "https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png",
              "previewUrl": "https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png"
            }
          ],
          "spokenLanguages": [
            {
              "name": "English",
              "nameEn": "English"
            }
          ],
          "facts": [
            {
              "value": "Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption), опубликованной в составе сборника «Четыре сезона» (Different Seasons, 1982)."
            },
            {
              "value": "Съемки проходили в Мэнсфилдской исправительной колонии, что в штате Огайо. Тюрьма находилась в таком плачевном состоянии, что пришлось потратить немало бюджетных средств на приведение её в должный вид."
            },
            {
              "value": "Стивен Кинг согласился продать права на свое произведение практически даром, так как с Фрэнком их связывает давняя крепкая дружба. Произошло это после того, как Фрэнк довольно успешно экранизировал рассказ Кинга «Женщина в палате». С тех пор они практически не виделись, но, тем не менее, вели активную переписку. Встреча произошла лишь после того, как Фрэнк проявил недюжий интерес к «Шоушенку»."
            },
            {
              "value": "Американское общество защиты животных выступило с критикой в адрес фильма, в котором единственным представителем фауны стал ворон старика Брукса. В картине есть сцена кормления птицы червяком, найденном во время обеда в тарелке главного героя фильма. Общество настояло на том, чтобы была использована уже мертвая личинка, погибшая своей естественной смертью. После того, как такая особь была найдена, сцену отсняли."
            },
            {
              "value": "Роль Томми Уильямса изначально была написана под Брэда Питта."
            },
            {
              "value": "Картина, которую смотрят заключенные, - это «Гильда»."
            },
            {
              "value": "Начальник тюрьмы Нортон насвистывает гимн «Eine feste Burg ist unser Gott», название которого переводится примерно так: «Могучая крепость и есть наш бог»."
            }
          ],
          "genres": [
            {
              "name": "драма"
            }
          ],
          "countries": [
            {
              "name": "США"
            }
          ],
          "seasonsInfo": [],
          "persons": [
            {
              "id": 24262,
              "name": "Фрэнк Дарабонт",
              "enName": "Frank Darabont",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24262.jpg",
              "enProfession": "director"
            },
            {
              "id": 7987,
              "name": "Тим Роббинс",
              "enName": "Tim Robbins",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg",
              "enProfession": "actor",
              "description": "Andy Dufresne"
            },
            {
              "id": 6750,
              "name": "Морган Фриман",
              "enName": "Morgan Freeman",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_6750.jpg",
              "enProfession": "actor",
              "description": "Ellis Boyd «Red» Redding"
            },
            {
              "id": 23481,
              "name": "Боб Гантон",
              "enName": "Bob Gunton",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_23481.jpg",
              "enProfession": "actor",
              "description": "Warden Norton"
            },
            {
              "id": 24267,
              "name": "Уильям Сэдлер",
              "enName": "William Sadler",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24267.jpg",
              "enProfession": "actor",
              "description": "Heywood"
            },
            {
              "id": 20802,
              "name": "Клэнси Браун",
              "enName": "Clancy Brown",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_20802.jpg",
              "enProfession": "actor",
              "description": "Captain Hadley"
            },
            {
              "id": 8531,
              "name": "Джил Беллоуз",
              "enName": "Gil Bellows",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_8531.jpg",
              "enProfession": "actor",
              "description": "Tommy"
            },
            {
              "id": 47327,
              "name": "Марк Ролстон",
              "enName": "Mark Rolston",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_47327.jpg",
              "enProfession": "actor",
              "description": "Bogs Diamond"
            },
            {
              "id": 50162,
              "name": "Джеймс Уитмор",
              "enName": "James Whitmore",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_50162.jpg",
              "enProfession": "actor",
              "description": "Brooks Hatlen"
            },
            {
              "id": 24264,
              "name": "Джеффри ДеМанн",
              "enName": "Jeffrey DeMunn",
              "photo": "https://st.kp.yandex.net/images/actor_iphone/iphone360_24264.jpg",
              "enProfession": "actor",
              "description": "1946 D.A."
            }
          ],
          "lists": []
        }
        
#### Поиск по названию [GET]
Поиск по текстовым полям использует регулярное выражение `/.*текст.*/gi` это делает текстовый поиск очень гибким, но не совсем точным, чтобы отображать более релевантные результаты придется добавлять сортировки.
+ Parameters
    + search: ная кни (string) - Искомое значение `ная кни`
    + field: name (string) - Поиск по `name` 
    
+ Response 200 (application/json)
    {
      "docs": [
        {
          "externalId": {
            "imdb": "tt0019696"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/199595.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_199595.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 6.8
          },
          "votes": {
            "kp": 5,
            "imdb": 9
          },
          "id": 199595,
          "type": "movie",
          "name": "Чёрная книга",
          "year": 1929
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/596181.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_596181.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 5,
            "imdb": 0
          },
          "id": 596181,
          "type": "movie",
          "name": "Чудесная книжка",
          "description": "Пропаганда выгодности вкладов в сберегательные кассы. Две семьи рабочих и семья служащего страдали от отсутствия разумной бережливости. Сберкасса помогла им достигнуть материальной обеспеченности.",
          "year": 1925
        },
        {
          "externalId": {
            "tmdb": 9075,
            "imdb": "tt0389557"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/78079.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_78079.jpg"
          },
          "rating": {
            "tmdb": 7.5,
            "kp": 7.7,
            "imdb": 7.7
          },
          "votes": {
            "tmdb": 728,
            "kp": 18312,
            "imdb": 71753
          },
          "movieLength": 145,
          "id": 78079,
          "type": "movie",
          "name": "Черная книга",
          "description": "Вторая мировая война. Рахиль Штайн - немка еврейского происхождения. Спасаясь от фашистского геноцида, она находит пристанище в Нидерландах, где присоединяется к движению Сопротивления. Рахиль непременно должна найти предателя, по вине которого погибла вся ее семья. Отныне месть - смысл ее жизни...",
          "year": 2006
        },
        {
          "externalId": {
            "imdb": "tt1216499"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/409602.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_409602.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 6
          },
          "votes": {
            "kp": 9,
            "imdb": 20
          },
          "id": 409602,
          "type": "movie",
          "name": "Телефонная книга",
          "year": 2008
        },
        {
          "externalId": {
            "tmdb": 234500,
            "imdb": "tt0226753"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/99721.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_99721.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 2,
            "imdb": 0
          },
          "movieLength": 78,
          "id": 99721,
          "type": "movie",
          "name": "Тайная книга: Рукав и рукав",
          "year": 1974
        },
        {
          "externalId": {
            "tmdb": 235379,
            "imdb": "tt0226752"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/209725.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_209725.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 1,
            "imdb": 0
          },
          "movieLength": 71,
          "id": 209725,
          "type": "movie",
          "name": "Тайная книга: Очищенный яйца",
          "year": 1975
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/928994.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_928994.jpg"
          },
          "rating": {
            "kp": 5.9,
            "imdb": 6
          },
          "votes": {
            "kp": 12760,
            "imdb": 2139
          },
          "id": 928994,
          "type": "movie",
          "name": "Таймлесс 3: Изумрудная книга",
          "description": "Что делать, если твое сердце разбито, а чувства растоптаны? Часами болтать по телефону с лучшей подругой? Есть шоколад и валяться в кровати, обливаясь слезами? Как жаль, что у Гвендолин совершенно нет на это времени. А все потому, что на семнадцатом году жизни у нее совершенно случайно обнаружился ген путешественника во времени. Голова идет кругом: хронограф, круг крови, Тайна Двенадцати, все эти балы, суаре, схватки и путешествия по темным лабиринтам прошлого, а теперь еще кто-то за ней охотится, и единственное, о чем ей действительно стоит думать, так это о том, чтобы выжить! Все нити ведут в прошлое, к таинственному графу Сен-Жермену, который ведет опасную игру, чтобы заполучить источник вечной жизни. А тут разбитое сердце!  Гидеон, кто же ты - друг или враг? Что значат твои признания в любви - шутка, разыгранный как по нотам план графа или все же настоящее чувство? Разгадать все тайны Гвендолин помогут ее верные друзья.",
          "year": 2016
        },
        {
          "externalId": {
            "tmdb": 173031,
            "imdb": "tt2645130"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/733489.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_733489.jpg"
          },
          "rating": {
            "tmdb": 5.8,
            "kp": 0,
            "imdb": 6.1
          },
          "votes": {
            "tmdb": 13,
            "kp": 12,
            "imdb": 1352
          },
          "movieLength": 0,
          "id": 733489,
          "type": "movie",
          "name": "Счастливая семейная книга",
          "description": "Полковник в отставке Ылдырим, несмотря на свой жесткий и авторитарный темперамент, очень долгое время оставался авторитетом для своей семьи. Со временем дети повзрослели и «разбежались» в разные стороны. Теперь, когда каждый обзавелся семьей, они редко общаются даже друг с другом. Кроме того, у каждого появляются свои секреты, которые с годами все сложнее удерживать в тайне. Этим они сами себя постепенно загоняют в угол. Однажды, полковник решает собрать их всех, для того, чтобы вместе жить под одной крышей...",
          "year": 2013
        },
        {
          "externalId": {
            "tmdb": 342053,
            "imdb": "tt0350183"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/50845.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_50845.jpg"
          },
          "rating": {
            "tmdb": 5.5,
            "kp": 0,
            "imdb": 6.1
          },
          "votes": {
            "tmdb": 1,
            "kp": 7,
            "imdb": 115
          },
          "movieLength": 94,
          "id": 50845,
          "type": "movie",
          "name": "Секретная книга",
          "description": "Поиски «Тайной книги» богомилов, в которой Енох рассказал о встрече с Богом, приводят Пьера Реймона к неожиданной находке в своей душе. Ведь Книга та, если отыщет ее человек – поселяется в его сердце… Дэн Браун бы сделал из этой истории увлекательный конспирологический квест. Владо Цветановски превратил «Тайную книгу» в историю духовного поиска и мистических прозрений",
          "year": 2006
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/501951.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_501951.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 6,
            "imdb": 0
          },
          "id": 501951,
          "type": "animated-series",
          "name": "Потерянная книга",
          "year": 2009
        }
      ],
      "total": 36,
      "limit": 10,
      "page": 1,
      "pages": 4
    }

#### Поиск фильмов по типу [GET]
+ Parameters
    + search: 1 (string) - Искомое значение `1`
    + field: typeNumber (string) - Поиск по `typeNumber` 
    
+ Response 200 (application/json)

    {
      "docs": [
        {
          "externalId": {
            "imdb": "tt4452272"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/901914.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_901914.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 901914,
          "type": "movie",
          "name": "Military Madness",
          "year": 1917
        },
        {
          "externalId": {
            "imdb": "tt7441760"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1095536.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1095536.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1095536,
          "type": "movie",
          "name": "Remembering Proof of Concept",
          "year": 2016
        },
        {
          "externalId": {
            "imdb": "tt4613354"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/906436.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_906436.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 906436,
          "type": "movie",
          "name": "Panoptik",
          "year": 2015
        },
        {
          "externalId": {
            "imdb": "tt0759669"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/451170.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_451170.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 451170,
          "type": "movie",
          "name": "The Sailor\u0027s Smiling Spirit",
          "year": 1916
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/427680.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_427680.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 427680,
          "type": "movie",
          "name": "Таунхаус",
          "description": "Основанная на романе Тиш Коэн лента расскажет о страдающем агорафобией наследнике рок-звезды, проживающем с сыном в таунхаусе. Каким-то образом ему необходимо поддерживать связь с окружающим миром, и дружба с девочкой по вызову оказывается как нельзя кстати.",
          "year": 0
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1104954.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1104954.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1104954,
          "type": "movie",
          "name": "Rebranding Henry",
          "year": 0
        },
        {
          "externalId": {
            "imdb": "tt0011269"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/157619.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_157619.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 2,
            "imdb": 0
          },
          "id": 157619,
          "type": "movie",
          "name": "Heart of Twenty",
          "year": 1920
        },
        {
          "externalId": {
            "imdb": "tt0481478"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/253022.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_253022.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 1,
            "imdb": 0
          },
          "id": 253022,
          "type": "movie",
          "name": "Benched: The Corporate Takeover of the Judiciary",
          "year": 2005
        },
        {
          "externalId": {},
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/1011841.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1011841.jpg"
          },
          "rating": {
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "kp": 0,
            "imdb": 0
          },
          "id": 1011841,
          "type": "movie",
          "name": "Kountdown",
          "year": 0
        },
        {
          "externalId": {
            "tmdb": 455257,
            "imdb": "tt0466671"
          },
          "poster": {
            "url": "https://st.kp.yandex.net/images/film_big/118374.jpg",
            "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_118374.jpg"
          },
          "rating": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "votes": {
            "tmdb": 0,
            "kp": 0,
            "imdb": 0
          },
          "movieLength": 98,
          "id": 118374,
          "type": "movie",
          "name": "Ama... Bakit mo ako pinabayaan?",
          "year": 1990
        }
      ],
      "total": 596913,
      "limit": 10,
      "page": 1,
      "pages": 59692
    }

   
### Пример сложной поисковой конструкции [/?field=rating.kp&search=7-10&field=year&search=2017-2020&field=typeNumber&search=2&sortField=year&sortType=1&sortField=votes.imdb&sortType=-1&token=ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06]

#### Поиск сериалов с диапозонами и сортировкой [GET]
Представим что нам нужно найти сериалы `typeNumber - 2` с рейтингом kp от `7` до `10` которые были выпущены с `2017` по `2020` год.  
При этом мы ходим чтобы они были осортированы по году в порядке возрастания, но при этом были отсортированы по голосам на `imdb` в порядке убывания.
Для этого нам придется подготовить параметры
    
| URI Parameters  | |
| :------------- |:-------------|
| field      | Поиск по `rating.kp`|
| search      | Искомое значение `7-10`|
| field      | Поиск по `year`|
| search      | Искомое значение `2017-2020`|
| field      | Поиск по `typeNumber`|
| search      | Искомое значение `2`|
| sortField     | Поиск по `year`|
| sortType      | Искомое значение `1`|
| sortField      | Поиск по `votes.imdb`|
| sortType      | Искомое значение `-1`|

+ Parameters
    + token: `ZQQ8GMN-TN54SGK-NB3MKEC-ZKB8V06` (string) - Токен для авторизации

+ Response 200 (application/json)
        {
          "docs": [
            {
              "externalId": {},
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1046206.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1046206.jpg"
              },
              "rating": {
                "kp": 8.1,
                "imdb": 8.3
              },
              "votes": {
                "kp": 61839,
                "imdb": 293429
              },
              "id": 1046206,
              "type": "tv-series",
              "name": "Бумажный дом",
              "description": "История о преступниках, решивших ограбить Королевский монетный двор Испании и украсть 2,4 млрд евро.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 70523,
                "imdb": "tt5753856"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1032606.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1032606.jpg"
              },
              "rating": {
                "tmdb": 8.5,
                "kp": 8.1,
                "imdb": 8.8
              },
              "votes": {
                "tmdb": 3922,
                "kp": 68683,
                "imdb": 277621
              },
              "alternativeName": "Dark",
              "id": 1032606,
              "type": "tv-series",
              "name": "Тьма",
              "description": "История четырёх семей, живущих спокойной и размеренной жизнью в маленьком немецком городке. Видимая идиллия рушится, когда бесследно исчезают двое детей и воскресают тёмные тайны прошлого.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 66788,
                "imdb": "tt1837492"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/582358.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_582358.jpg"
              },
              "rating": {
                "tmdb": 7.8,
                "kp": 7.4,
                "imdb": 7.6
              },
              "votes": {
                "tmdb": 2575,
                "kp": 67855,
                "imdb": 254352
              },
              "alternativeName": "13 Reasons Why",
              "id": 582358,
              "type": "tv-series",
              "name": "13 причин почему",
              "description": "Однажды Клэй Дженсен находит на пороге своего дома коробку с аудиокассетами, записанными Ханной Бейкер. Он был влюблен в эту девушку в школе, пока она однажды не покончила жизнь самоубийством. В своих записях Ханна указала 13 причин, которые толкнули её на это. И Клэй - одна из них.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 67744,
                "imdb": "tt5290382"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/958500.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_958500.jpg"
              },
              "rating": {
                "tmdb": 7.9,
                "kp": 8.1,
                "imdb": 8.6
              },
              "votes": {
                "tmdb": 1081,
                "kp": 46781,
                "imdb": 214384
              },
              "alternativeName": "Mindhunter",
              "id": 958500,
              "type": "tv-series",
              "name": "Охотник за разумом",
              "description": "1979 год. Два агента ФБР опрашивают находящихся в заключении серийных убийц с целью понимания их образа мыслей, а также раскрытия текущих преступлений.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 69740,
                "imdb": "tt5071412"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1045553.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1045553.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 913,
                "kp": 24593,
                "imdb": 184765
              },
              "alternativeName": "Ozark",
              "id": 1045553,
              "type": "tv-series",
              "name": "Озарк",
              "description": "Финансовый консультант Марти Бёрд вместе с женой Вэнди и остальными членами семьи вынужден тайно переехать из престижного предместья Чикаго в курортный городок Озарк штата Миссури. К неожиданному переезду главного героя вынудили крупные долги, и на новом месте он надеется поправить своё финансовое положение.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 67178,
                "imdb": "tt5675620"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/978853.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_978853.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.5
              },
              "votes": {
                "tmdb": 1140,
                "kp": 26690,
                "imdb": 180787
              },
              "alternativeName": "Marvel\u0027s The Punisher",
              "id": 978853,
              "type": "tv-series",
              "name": "Каратель",
              "description": "После того, как семья Фрэнка Касла была убита во время перестрелки нескольких банд Нью-Йорка, он решает отомстить и начинает охоту на преступников города. В преступном мире он становится известен как Каратель.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 69478,
                "imdb": "tt5834204"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1007426.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1007426.jpg"
              },
              "rating": {
                "tmdb": 8.1,
                "kp": 7.8,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 1091,
                "kp": 59266,
                "imdb": 169340
              },
              "alternativeName": "The Handmaid\u0027s Tale",
              "id": 1007426,
              "type": "tv-series",
              "name": "Рассказ служанки",
              "description": "Действие разворачивается в будущем, в республике Гилеад, где у власти стоят военные. В стране жестокие порядки и нравы, уважением в обществе пользуются только офицеры и их жёны. Помимо тоталитарного устройства общества, в мире будущего есть серьёзная проблема — бесплодие. Лишь каждая сотая женщина способна к воспроизведению потомства. Чтобы продолжить офицерский род, семьи берут в дом служанку - суррогатную мать из числа простых женщин, способных к деторождению. Исполнив  долг, служанка должна расстаться со своим ребёнком и перейти на службу к новым хозяевам.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 66292,
                "imdb": "tt3920596"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/947758.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_947758.jpg"
              },
              "rating": {
                "tmdb": 7.8,
                "kp": 8.1,
                "imdb": 8.5
              },
              "votes": {
                "tmdb": 785,
                "kp": 77183,
                "imdb": 151968
              },
              "alternativeName": "Big Little Lies",
              "id": 947758,
              "type": "tv-series",
              "name": "Большая маленькая ложь",
              "description": "На благотворительном балу в школе происходит убийство, однако имя жертвы неизвестно. История о нескольких месяцах, предшествовавших происшествию - рассказ о пяти семьях, чьи дети ходят в один класс. Все эти семьи загадочным образом связаны с убийством.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 74577,
                "imdb": "tt6257970"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/1071384.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_1071384.jpg"
              },
              "rating": {
                "tmdb": 8.3,
                "kp": 7.7,
                "imdb": 8.1
              },
              "votes": {
                "tmdb": 1485,
                "kp": 58623,
                "imdb": 144396
              },
              "alternativeName": "The End of the F***ing World",
              "id": 1071384,
              "type": "tv-series",
              "name": "Конец ***го мира",
              "description": "Джеймсу семнадцать и он уверен, что он - психопат. Алисе тоже семнадцать, она - капризная новенькая девчонка в школе. Они с пол-оборота заводят подростковый роман, и Алиса уговаривает Джеймса начать поиски её отца. Джеймсу от Алисы тоже кое-что нужно.",
              "year": 2017
            },
            {
              "externalId": {
                "tmdb": 65708,
                "imdb": "tt3647998"
              },
              "poster": {
                "url": "https://st.kp.yandex.net/images/film_big/932068.jpg",
                "previewUrl": "https://st.kp.yandex.net/images/film_iphone/iphone360_932068.jpg"
              },
              "rating": {
                "tmdb": 7.9,
                "kp": 7.7,
                "imdb": 8.4
              },
              "votes": {
                "tmdb": 645,
                "kp": 60378,
                "imdb": 115033
              },
              "alternativeName": "Taboo",
              "id": 932068,
              "type": "tv-series",
              "name": "Табу",
              "description": "Искатель приключений Джеймс Кезайя Делейни строит свою собственную корабельную империю в начале XIX века.",
              "year": 2017
            }
          ],
          "total": 689,
          "limit": 10,
          "page": 1,
          "pages": 69
        }
   
# GET /person

# GET /review

# GET /image

# GET /season

## Data Structures

### Movie (object)
+ id: 326 (number)
+ name: `Побег из Шоушенка` (string)
+ alternativeName: `The Shawshank Redemption` (string)
+ typeNumber: `1 (movie) | 2 (tv-series) | 3 (carton) | 4 (anime) | 5 (animated-series)` (number)
+ type: `movie | tv-series | carton | anime | animated-series` (string)
+ description: `Бухгалтер Энди Дюфрейн обвинён в убийстве собственной жены и её любовника...` (string)
+ slogan: `Страх - это кандалы. Надежда - это свобода` (string)
+ year: 1994 (number)
+ movieLength: 142 (number)
+ status: `Выпущен` (string)
+ externalId: (object)
    + tmdb: 278 (number)
    + imdb: `tt0111161` (string)
+ rating: (object)
    + kp: 9.1 (number)
    + tmdb: 8.7 (number)
    + imdb: 9.3 (number)
+ votes: (object)
    + kp: 746454 (number)
    + tmdb: 18120 (number)
    + imdb: 2339097 (number)
+ poster: (object)
  + url: `https://st.kp.yandex.net/images/film_big/326.jpg` (string)
  + previewUrl: `https://st.kp.yandex.net/images/film_iphone/iphone360_326.jpg` (string)
+ backdrop: (object)
  + url: `https://www.themoviedb.org/t/p/original/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg` (string)
  + previewUrl: `https://www.themoviedb.org/t/p/w500/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg` (string)
+ videos: (object[array])
  + trailers: (object[array])
      + url: https://www.youtube.com/watch?v=GOniB0Ykp1M (string)
      + name: Побег из Шоушенка трейлер на русском (string)
      + site: YouTube (string)
      + size: 60 (number)
      + type: TRAILER (string)
  + teasers: (object[array])
      + url: `https://www.youtube.com/watch?v=GOniB0Ykp1M`
      + name: Побег из Шоушенка тизер на русском (string)
      + site: YouTube (string)
      + size: 60 (number)
      + type: TEASER (string)
+ budget: (object)
  + value: 25000000 (number)
  + currency: $ (string)
+ fees: object[object]
  + world:
      + value: 28418687 (number)
      + currency: $ (string)
  + russia:
      + value: 87432 (number)
      + currency: $ (string)
  + usa:
      + value: 28341469 (number)
      + currency: $ (string)
+ distributors (object)
  + distributor: Иноекино (string)
  + distributorRelease: `Videogram, Союз-Видео` (string)
+ premiere: (object)
  + country: Канада (string)
  + world: `1994-09-10T00:00:00.000Z` (string)
  + russia: `2019-10-24T00:00:00.000Z` (string)
  + digital: `2019-10-24T00:00:00.000Z` (string)
  + bluray: `1999-09-01T00:00:00.000Z` (string)
  + dvd: `2009-08-27T00:00:00.000Z` (string)
+ images (object)
  + postersCount: 57 (number)
  + backdropsCount: 23 (number)
  + framesCount: 59 (number)
+ productionCompanies (object[array])
  + name: Castle Rock Entertainment (string)
  + url: `https://www.themoviedb.org/t/p/original/7znWcbDd4PcJzJUlJxYqAlPPykp.png` (string)
  + previewUrl: `https://www.themoviedb.org/t/p/w500/7znWcbDd4PcJzJUlJxYqAlPPykp.png` (string)
+ spokenLanguages (object)
  + name: English (string)
  + nameEn: English (string)
+ facts (object[array])
  + value: `Фильм снят по мотивам повести Стивена Кинга «Рита Хейуорт и спасение из Шоушенка» (Rita Hayworth and Shawshank Redemption)...` (string)
+ genres (object[array])
  + name: драма (string)
+ facts (object[array])
  + name: США (string)
+ persons (object[array])
  + id: 7987 (number)
  + name: Тим Роббинс (string)
  + enName: Tim Robbins (string)
  + photo: `htps://st.kp.yandex.net/images/actor_iphone/iphone360_7987.jpg` (string)
  + enProfesson: actor (string)
  + description: Any Dufresne (string)
+ seasonsInfo(object[array])
    + number: 1 (number)
    + episodesCount: 24 (number)

### Person (object)
+ id: 2003323 (number)
+ name: Ван Нест Полглейс (string)
+ enName: Van Nest Polglase (string)
+ photo: `https://st.kp.yandex.net/images/actor_iphone/iphone360_2003323.jpg` (string)
+ sex: Мужской (string)
+ growth: 174 (number)
+ birthday: `1898-08-24T23:59:43.000Z` (string)
+ death: `1968-12-20T00:00:00.000Z` (string)
+ age: 70 (number)
+ birthPlace (object[array])
    + value: Бруклин (string)
+ deathPlace (object[array])
    + value: `Лос-Анджелес` (string)
+ spouses (object)
    + id: 6330282 (number)
    + name: Julie Masse (string)
    + divorced: true (boolean)
    + divorcedReason: "смерть" (string)
    + sex: Женский (string)
    + children: 4 (number)
    + relation: супруга (string)
+ countAwards: 1 (number)
+ profession (object[array])
    + value: Актер (string)
+ facts (object[array])
    + value: `Сын известного детского писателя Виктора Драгунского, прототип героя е...` (string)
+ movies (object[array])
    + id: 331 (number)
    + name: Гражданин Кейн (string)
    + alternativeName: Citizen Kane (string)
    + rating: 7.8 (number)
    + general: true (boolean)
    + description: Художник-постановщик (string)

### Review (object)
+ id: 2921265 (number)
+ movieId: 986638 (number)
+ title: Ни сюжета ни графики (string)
+ type: Негативный (string)
+ review: В последнее время в отечественной мультипликации засилье переделок нар... (string)
+ date: `2020-06-06T19:56:00.000Z` (string)
+ author: helgisbox (string)

### Image (object)
+ movieId: 56328 (number)
+ type: `backdrops` (string)
+ language: zu (string)
+ url: `https://www.themoviedb.org/t/p/original/pmUl6PzLE72Kdb7gvHric0Ngn6I.jpg` (string)
+ previewUrl: `https://www.themoviedb.org/t/p/w500/pmUl6PzLE72Kdb7gvHric0Ngn6I.jpg` (string)
+ height: 1080 (number)
+ width: 1920 (number)

### Season (object)
+ movieId: 1118429 (number)
+ number: 1 (number)
+ episodesCount: 10 (number)
+ episodes (object[array])
    + number: 1 (number)
    + name: Добропожаловать в Ад (string)
    + enName: Welcome to Hell (string)
    + date: `2018-04-10T00:00:00.000Z` (string)
    + description: Гвен попала в ад (string)